---
import Social from "../components/Social.astro";
const title= "About GreenHarvest";
---

<article>
  <h1>{title}</h1>

  <!-- About Us Section -->
  <section>
    <h2>Our Story</h2>
    <p>Welcome to GreenHarvest, your go-to platform for connecting farmers and consumers who value organic and sustainable products.</p>
    <p>Our journey began with a passion for promoting eco-friendly farming practices and providing consumers with access to high-quality organic goods.</p>
  </section>

  <!-- Our Mission Section -->
  <section>
    <h2>Our Mission</h2>
    <p>At GreenHarvest, we are committed to:</p>
    <ul>
      <li>Supporting local farmers and sustainable agriculture</li>
      <li>Ensuring transparency in the food supply chain</li>
      <li>Promoting a healthier lifestyle through organic products</li>
    </ul>
  </section>

  <!-- Meet the Team Section -->
  <section>
    <h2>Meet the Team</h2>
    <!-- Introduce key team members and their roles -->
    <!-- You can include images, bios, and social media links for each team member -->
    
    <Social platform="github" username="Lavishtyagi45"/>
    <!-- <Social platform="linkedin" username="lavishtyagi45"/> -->
    <Social platform="instagram" username="lavishtyagi_45"/>
  </section>
</article>
