---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Shopping Cart";
---
<BaseLayout>
  <h2>Cart :</h2>
  <section>
	<h2>Cart Contents</h2>
	<product/>
  </section>
</BaseLayout>