---
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import FeaturedProduct from '../components/FeaturedProduct.astro';
import Cateogry from '../components/Cateogry.astro';
import TrendingToday from '../components/TrendingToday.astro';

const pageTitle = "Farmorg";

---
<BaseLayout>
  <Header/>
  <section>
    <main>
      <h1>Welcome to Farmorg</h1>
      <p>Lorem ipsum dolor sit amet.</p>
    </main>
  </section>
  
  <section id="Featured">
  <FeaturedProduct />
</section>
<section id="Cateogries">
  <Cateogry />
  
</section>
<section id="Trending">
  <TrendingToday />
</section>

</BaseLayout>

  
<style>
  main{
    height: 90vh;
    background-color:lightgrey;
    color:white;
    text-align: center;
  }
  main h1{
    padding-top: 30vh;
    font-size:3.5rem;
  }
  main p{
    font-size: x-large;
  }

  section{
    padding: 10px;
  }
</style>