---
import ProductCard from '../components/ProductCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Farmorg";

import bananaImage from '../assets/Banana.jpeg';
---
<BaseLayout>
  <section id="LandingPage">
    <h2>Welcome to Farmorg</h2>
    <p>Explore our range of organic farming products.</p>
  </section>
  <section>
	<h2>Featured Products</h2>
  <ProductCard name="Banana" price="20" src={bananaImage} alt="Banana"/>
  </section>
</BaseLayout>

<style>
  #LandingPage{
    padding: 5px;
    height: 80vh;
    background-image: url(/public/Landing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

  }
</style>