---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Organic Farming Products";

import Fruits from './products/Fruits.astro';
import Vegetables from './products/Vegetables.astro';
import DairyProducts from './products/DairyProducts.astro';
import Cereals from './products/Cereals.astro';
---

<BaseLayout>
  <h1>All Products</h1>
  <section>
    <Fruits />
  </section>
  <section>
     <Vegetables />
  </section>
  <section>
     <DairyProducts />
  </section>  
  <section>
    <Cereals/>
  </section>

</BaseLayout>

<style>
  section{
    margin: 10px;
    overflow-x: hidden;
  }
</style>