---
---


<h2>Categories</h2>
<ul class="categories">
  <li><a href="/products/Fruits/">Fruits</a></li>
  <li><a href="/products/Vegetables/">Vegetables</a></li>
  <li><a href="/products/DairyProducts/">Dairy Products</a></li>
  <li><a href="/products/Cereals/">Cereals</a></li>
</ul>


<style>
    .categories {
        list-style: none;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        margin-top: 1.5rem;
        margin-left: 0px;
        overflow-x:visible;
    }
    
    
    .categories a {
        text-decoration: none;
        color: #333;
        border: 1px solid #ccc;
        padding: 20px;
        margin: 10px;
        display: block;
        text-align: center;
        border-radius: 5%;
        width:auto; 
        font-size: larger;
    }
    
    .categories a:hover {
        background-color: #000;
        color: #fff;
    }
</style>