---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---

<header>
    <nav>
        <h1>Farmorg</h1>
        <Navigation />
        <Hamburger/>
    </nav>
</header>

<style>
    nav{
        display: flex;
        justify-content:space-around;
        padding: 5px 10px;
        margin: 0%;
        text-align: center;
        align-items: center;
    }

    header{
        padding: 0%;
        margin: 0%;
        height: 5vh;
    }

    @media screen and (max-width: 850px) {
        nav{
            justify-content: space-between;
            align-items: start;
        }
        h1{
            padding-right:100px;
            padding-left: 10px;
        }
    }
</style>