---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
---

<header>
    <nav>
        <h1>Farmorg</h1>
        <Navigation/>
        <Hamburger/>
    </nav>
</header>

<style>
    nav{
        display: flex;
        justify-content:space-around;
        align-items:center;
    }
    header{
        padding: 0%;
        margin: 0%;
        height: 5vh;
        text-align: center;
    }

    @media screen and (max-width: 636px) {
        nav{
            justify-content: space-between;
        }
        h1{
            padding-right:20px;
        }
    }
</style>