---
import ProductCard from "../../components/ProductCard.astro";
import Milk from '../../assets/Milk.jpeg';
import Cheese from '../../assets/Cheese.jpeg';
---

<h2> Dairy Products </h2>
    <div>
    <ProductCard 
      title="Organic Milk" 
      description="Fresh and pure organic milk." 
      image={Milk}
      price="$6.99/litre"
    />
    <ProductCard 
      title="Organic Cheese" 
      description="Delicious and nutritious organic cheese." 
      image={Cheese}
      price="$7.99/500g"
    />
    </div>
  

    <style>
        div{
       display: flex;
       overflow-x:scroll;
     }
   </style>