---
import ProductCard from "../../components/ProductCard.astro";

import tomatoImage from '../../assets/Tomato.jpeg';
import carrotImage from '../../assets/Carrot.jpeg';
---
<h2> Vegetables </h2>
    <div>
    <ProductCard 
      title="Organic Carrot" 
      description="Crunchy and sweet organic carrots." 
      image={carrotImage}
      price="80 rupees/kg"
    />
    <ProductCard 
      title="Organic Tomato" 
      description="Fresh and healthy organic tomato." 
      image={tomatoImage}
      price="50 rupees/kg"
    />
    </div>

    <style>
        div{
       display: flex;
       overflow-x:scroll;
     }
   </style>